<html>
  <head>
    <link rel="stylesheet" href="/static/styles/aboutus.css">
  </head>

  <body>
    <ul>
      <li><a href="index.html">Search for a Charity</a></li>
      <li><a href="favorites.html">My Favorites</a></li>
      <li><a href="history.html">Donation History</a></li>
    </ul>
    <h1>Dreamy Developers</h1>
    <div id="marium">
      <h2>Marium</h2>
      <p></p>
    </div>
    <div id="isabella">
      <h2>Isabella:</h2>
      <p></p>
    </div>
    <div id="walter">
      <h2>Walter:</h2>
      <p></p>
    </div>
    <div id="sam">
      <h2>Sam:</h2>
      <p></p>
    </div>
  </body>
</html>
