<html>
  <head>
    <link rel="stylesheet" href="/static/styles/details.css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:300,700" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>var einLookup={{ein}}</script>
    <script src="/static/api.js"></script>
    <script src="/static/details.js"></script>
  </head>

  <body>
    <!-- nav bar -->
    <ul>
      <li><a href="/">Search for a Charity</a></li>
      <li><a href="/favorites">My Favorites</a></li>
      <li><a href="/history">Donation History</a></li>
      <li><a href="/aboutus">About Us</a></li>
    </ul>
    <div id="name">
      <h1>Charity Name: <span id='charityName'></span></h1>
    </div>
    <div id="website_ded">
      <h3>Website: <a id='website' href=></a></h3>
      <h3>Deductibility: <span id='deductibility'></span></h3>
    </div>
    <div>
      <h2 id="charity_cause">Charity Cause: <span id='cause'></span></h2>
    </div>
    <div id="news">
      <h2>News: </h2>
      <div id="charityArticle"></div>
    </div>
    <button type="button">Add to Favorites</button>
    <div id="social">
      <h4>Social Media:</h4>
    </div>

    {% for charity in allCharities %}
      <h1>{{charity.name}}</h1>
      <h3 id="deductibility">{{charity.deductibility}}</h3>
      <h2 id="charity_cause">{{charity.cause}}</h2>
      <h3 id="news">{{charity.news}}</h3>
    {% endfor %}
  </body>
 </html>
