<html>
  <head>
    <link rel="stylesheet" href="/static/styles/details.css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:300,700" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>var einLookup={{ein}}</script>
    <script src="/static/api.js"></script>
    <script src="/static/details.js"></script>
  </head>

  <body>
    <!-- nav bar -->
    <ul>
      <li><a href="/">Search for a Charity</a></li>
      <li><a href="/favorites">My Favorites</a></li>
      <li><a href="/history">Donation History</a></li>
      <li><a href="/aboutus">About Us</a></li>
      <li><a class="logout" href="{{logoutUrl}}">Log Out</a></li>
    </ul>
    <div id="name">
      <h1><span id='charityName'></span></h1>
    </div>
    <div>
      <h2 id="charity_cause">Charity Cause: <span id='cause'></span></h2>
    </div>
    <div id="info">
      <h3>Website: <a id='website' href=></a></h3>
      <h3>Phone Number: <span id='number'></span></h3>
      <h3>Address: <span id='address'></span></h3>
      <h3>Deductibility: <span id='deductibility'></span></h3>
    </div>
    <div id="news">
      <h2>News: </h2>
      <div id="charityArticle"></div>
    </div>
    <form method="post">
      <input type="hidden" id="charName" name="name">
      <input type="hidden" id="charWebsite" name="website">
      <input type="hidden" id="charDeductibility" name="deductibility">
      <input type="hidden" name="charity" value="{{ein}}">
      <button id="favorite" type="submit">Add to Favorites</button>
    </form>
  </body>
 </html>
