<html>
  <head>
    <link rel="stylesheet" href="/static/styles/favorites.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:300,700" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/static/api.js"></script>
    <script src="/static/details.js"></script>
  </head>

  <body>
    <!-- nav bar -->
    <ul>
      <li><a href="/">Search for a Charity</a></li>
      <li><a href="/favorites">My Favorites</a></li>
      <li><a href="/history">Donation History</a></li>
      <li><a href="/aboutus">About Us</a></li>
      <li><a class="logout" href="{{logoutUrl}}">Log Out</a></li>
    </ul>
    <h1>Favorite Charities</h1>
    <p> Your favorite charities appear here. </p>
    <table>
      <tr id="firstRow">
        <td>Charity</td>
        <td>Website</td>
        <td >Deductibility</td>
      </tr>
      {% for charity in charities %}
        <tr>
          <td>{{charity.name}}</td>
          <td>{{charity.website}}</td>
          <td>{{charity.deductibility}}</td>
          <td><a href="/delete_charity?charity={{charity.key.urlsafe()}}">Delete</a></td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
