<html>
  <head>
    <link rel="stylesheet" href="/styles/favorites.css">
  </head>

  <body>
    <a href="/static/search.html">Search for Charities</a>
    <a href="/static/history.html">Donation History</a>
    <h1>Favorite Charities</h1>
    <table>
      <tr>
        <td>Charity</td>
        <td>Star Rating</td>
        <td>Deductibility</td>
        <td>Delete</td>
      </tr>
      <tr>
        <td><input name="charity[name]"></td>
        <td><input name="charity[rating]"></td>
        <td><input name="charity[deductibility]"></td>
        <td><a href="/delete_charity?charity_id={{charity.key.urlsafe()}}">Delete</a></td>
      </tr>
      <tr>
        <td><input name="charity[name]"></td>
        <td><input name="charity[rating]"></td>
        <td><input name="charity[deductibility]"></td>
        <td><a href="/delete_charity?charity_id={{charity.key.urlsafe()}}">Delete</a></td>
      </tr>
      <tr>
        <td><input name="charity[name]"></td>
        <td><input name="charity[rating]"></td>
        <td><input name="charity[deductibility]"></td>
        <td><a href="/delete_charity?charity_id={{charity.key.urlsafe()}}">Delete</a></td>
      </tr>
    </table>
  </body>
</html>
