<html>
  <head>
    <link rel="stylesheet" href="/static/styles/favorites.css">
  </head>

  <body>
    <ul>
      <li><a class="active" href="aboutus.html">About Us</a></li>
      <li><a class="active" href="history.html">Donation History</a></li>
      <li><a class="active" href="index.html">Search for a Charity</a></li>
    </ul>
    <h1>Favorite Charities</h1>
    <table>
      <tr>
        <td>Charity</td>
        <td>Star Rating</td>
        <td>Deductibility</td>
      </tr>
      <tr>
        <td><input name="charity[name]"></td>
        <td><input name="charity[rating]"></td>
        <td><input name="charity[deductibility]"></td>
        <td><a href="/delete_charity?charity_id={{charity.key.urlsafe()}}">Delete</a></td>
      </tr>
      <tr>
        <td><input name="charity[name]"></td>
        <td><input name="charity[rating]"></td>
        <td><input name="charity[deductibility]"></td>
        <td><a href="/delete_charity?charity_id={{charity.key.urlsafe()}}">Delete</a></td>
      </tr>
      <tr>
        <td><input name="charity[name]"></td>
        <td><input name="charity[rating]"></td>
        <td><input name="charity[deductibility]"></td>
        <td><a href="/delete_charity?charity_id={{charity.key.urlsafe()}}">Delete</a></td>
      </tr>
    </table>
  </body>
</html>
