<html>
  <head>
    <link rel="stylesheet" href="/static/styles/history.css">
    <title>
      History
    </title>
  <head>
  <body>
    <!-- nav bar -->
    <ul>
      <li><a href="/">Search for a Charity</a></li>
      <li><a href="/favorites">My Favorites</a></li>
      <li><a href="/aboutus">About Us</a></li>
    </ul>
  <h1> Donation History </h1>
  <p> Keep a record of all the charities you have donated to below.
        <form method="post">
    <ul id="listOfInputs">
    <li id="firstInput">Charity: <input type="text" name="charityName"></li>
    <li class="inputs">Amount Donated: <input type="text" name="amountDonated" placeholder="enter without currency"></li>
    <li class="inputs">Date of Donation: <input type="text" name="dateDonated" placeholder="mm/dd/yyyy"></li>
    <input class="inputs" id="submitButton" type="submit">
  </ul>
        </form>
        <table>
          <tr id="topRow">
            <td>Charity</td>
            <td>Amount Donated</td>
            <td>Date of Donation</td>
          </tr>
          <!-- {% for entry in donationHistory %} -->
            <td>{{charityName}}</td>
            <td>{{amountDonated}}</td>
            <td>{{dateDonated}}</td>
            <!-- {% endfor %} -->
          <tr>
          </tr>
        </table>
  </body>
</html>
