<htlm>
  <head>
    <link rel="stylesheet" href="/styles/history.css">
    <title>
      History
    </title>
  <head>
  <body>
        <form method="post">
          <a href="favorites.html">Favorite Charities</a>
          <a href="history.html">Donation History</a>
          <a href="aboutus.html">About Us</a>
    <div>Charity: <input type="text" name="charity"></div>
    <div>Amount Donated: <input type="text" name="amountDonated"></div>
    <div>Date of Donation: <input type="text" name="dateDonation"></div>
    <input type="submit">
        </form>

        <table>
          <tr>
            <td>Charity</td>
            <td>Amount Donated</td>
            <td>Date of Donation</td>
          </tr>
            <td>{{userCharity}}</td>
            <td>{{userAmount}}</td>
            <td>{{userDonationDate}}</td>
          <tr>
          </tr>
        </table>
  </body>
</html>
