<htlm>
  <head>
    <link rel="stylesheet" href="/static/styles/history.css">
    <title>
      History
    </title>
  <head>
  <body>
    <div id="navBar">
    <a href="favorites.html">Favorite Charities</a>
    <a href="history.html">Donation History</a>
    <a href="aboutus.html">About Us</a>
  </div>
        <form id="wrapper" method="post">
      <div class="inputContainer">Charity:<input type="text" name="charity"></div>
      <div class="inputContainer">Amount Donated: <input type="text" name="amountDonated"></div>
      <div class="inputContainer">Date of Donation: <input type="text" name="dateDonation"></div>
    <input id="submitButton" type="submit">
        </form>
        <table>
          <tr id="topRow">
            <td>Charity</td>
            <td>Amount Donated</td>
            <td>Date of Donation</td>
          </tr>
            <td>{{userCharity}}</td>
            <td>{{userAmount}}</td>
            <td>{{userDonationDate}}</td>
          <tr>
          </tr>
        </table>
  </body>
</html>
