<html>
  <head>
    <link rel="stylesheet" href="/static/styles/search.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/static/api.js"></script>
    <script src="/static/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:300,700" rel="stylesheet">
    <title>
      Search
    </title>
  <head>
  <body>
    <div>
    <ul>
      <li><a href="/">Search for a Charity</a></li>
      <li><a href="/favorites">My Favorites</a></li>
      <li><a href="/history">Donation History</a></li>
      <li><a href="/aboutus">About Us</a></li>
      <li><a class="logout" href="{{logoutUrl}}">Log Out</a></li>
    </ul>
  </div>
  <div id="logoSpace">
    <!--Placeholder image-->
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReyIJecyRXPLIm8HzrdKtZZ8HSTxcgY0Q0BFs3MjSzw1rRD8reQw">
  </div>
    <!-- <div id="loader" style='display:none'></div> -->
    <div class="sk-cube-grid" style='display:none'>
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
    </div>
    <div id="searchBar">
        <input id="queryBox" type="text" name="searchQuery" placeholder="Find a Charity...">
        <button id="submit">Search</button>
    </div>
    <div id="resultPane" style='display:none'>
      <div id="result"</div>
    </div>
  </body>
</html>
