h1 {
  font-size: 80px;
  text-align: center;
  color:  #ffce00;
  /* color: #a5f0ff; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: #07deff;
}

body {
 font-family: 'Roboto', sans-serif;
 font-weight: 200;
}

#mariam {
  padding-bottom: 200px;
  padding-left: 20px;
  border: 3px solid #afaeae;
  margin-right: 60%;
  display: block;
}

#isabella {
  padding-bottom: 200px;
  padding-left: 20px;
  padding-right: 20px;
  border: 3px solid #afaeae;
  display: block;
  right: 0;
  margin-left: 60%;
  margin-top: 0%;
}

#walter {
  padding-bottom: 200px;
  padding-left: 20px;
  border: 3px solid #afaeae;
  margin-right: 60%;
  margin-top: 10%;
  display: block;
}

#sam {
  padding-bottom: 200px;
  padding-left: 20px;
  padding-right: 20px;
  border: 3px solid #afaeae;
  right: 0;
  display: inline-block;
  margin-left: 60%;
  display: block;
  margin-top: 0px;
}

#samPic {
  width: 90%;
  height: 90%;
}


/* nav bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #afaeae;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: grey;
}

li a.active {
  color: white;
  background-color: #afaeae;
}

/* color: #a5f0ff; */
