#delete {
  color: gray;
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 45%;
  left: 50%;
  margin: -100px 0 0 -150px;
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
}

h3 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

#buttons {
  color: blue;
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 100%;
  left: 65%;
  margin: -100px 0 0 -150px;
}

input[type=submit] {
  background-color: #ffce00;
  border: none;
  color: white;
  font-size: 20;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

input[type=submit]:hover {
  background-color: #ffb200;
  color: white;
}
