/* nav bar */
h1 {
  font-size: 30px;
  /* color:  #ffce00; */
  color: #a5f0ff;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: #353535;
}

body {
 font-family: 'Roboto', sans-serif;
 font-weight: 200;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #afaeae;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: grey;
}

li a.active {
  color: white;
  background-color: #afaeae;
}
