/* nav bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #afaeae;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: grey;
}

li a.active {
  color: white;
  background-color: #afaeae;
}

th, td {
    border-bottom: 1px solid #ddd;
    font-size: 20;
}

#firstRow {
  font-weight: bold;
  text-transform: uppercase;
  color: gray;
}

table {
  width:100%;
  margin-top: 20px;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
  color: #ffce00;
  /* color: #a5f0ff; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

p {
  color: #07deff;
  font-size: 30;
}

.button {
  display: block;
  background: #ffce00;
  padding: 5px;
  text-align: center;
  color: white;
  text-transform: uppercase;

}
