#searchBar {
  /* position: absolute; */
  top: 16%;
  left: 17%;
  /* margin-top: -50px;
  margin-left: -190px; */
  margin-left: 32%;
  margin-top: 20px;
}

button {
  background-color: green;
  border: none;
  color: white;
  padding: 11px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#submit {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

#submit:hover {
    background-color: #4CAF50;
    color: white;
}

#search {
  font-size: 20px;
}

input {
  width: 400px;
  height:45px;
  font-size: 20px;
}

#result {
  /* position: absolute; */
  top: 16%;
  left: 3%;
  right: 3%;
  margin-left:3%;
  margin-right:3%;
}

#loader {
  position: fixed;
  top: 65%;
  left: 47%;
  border: 16px solid #f3f3f3;
  border-top: 16px solid blue;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
  font-family: 'Roboto', sans-serif;
}

#logoSpace {
  height: 150px;
  width: auto;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

img {
  position: sticky;
  display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50
    width: 20%;
}
