#searchBar {
  /* position: absolute; */
  top: 16%;
  left: 17%;
  /* margin-top: -50px;
  margin-left: -190px; */
  margin-left: 32%;
  margin-top: 10px;
}

button {
  background-color: green;
  border: none;
  color: white;
  padding: 11px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#submit {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

#submit:hover {
    background-color: #4CAF50;
    color: white;
}

#search {
  font-size: 20px;
}

input {
  width: 400px;
  height:45px;
  font-size: 20px;
}

#result {
  /* position: absolute; */
  top: 16%;
  left: 3%;
  right: 3%;
  margin-left:3%;
  margin-right:3%;
}

#error {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  right: 3%;
  padding-top: 2%;
  margin-left:3%;
  margin-right:3%;
}

.sk-cube-grid {
  position: fixed;
  width: 60px;
  height: 60px;
  margin: 100px auto;
  top: 50%;
  left: 47%;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #00c7ff;
  /* border: 1px solid black; */
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

#logoSpace {
  display: flex;
  width: auto;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 10px;
}

img {
  position: sticky;
  display: flex;
    margin-left: auto;
    margin-right: auto;
    min-width: auto;
    min-height: auto;
}
